tbody>tr>:nth-child(6){
  color:purple;
  width:750px;
  flex: 1 1 40%;
  overflow: auto;
}

.at-sidebar-container {
  color:purple;
  width:750px;
  flex: 1 1 40%;
  overflow: auto;
}

tbody>tr>:nth-child(8){
  color:red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100px;
}


